# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#for ideas
/.idea/
/.vscode/

#all test file
**/test.js
**/test.html
**/test.css

#for js
**/node_modules
**/.env

**/package-lock.json
package.json