<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="styleRegister.css">
</head>
<body>
<div id = "container">
  <div id = "header">
    <div id="logo">
      <img id="logoImg" src="./img/LogoImg.svg" alt="Logo">
      <div id="logoText">Feline Friends TA</div>
    </div>
    <div id = textHeader>
      <div id = "join">Join Friends</div>
      <div id = "text">let's make the cats' dream come true</div>
    </div>
  </div>
  <div id = "left">
    <form id = "register">
      <input type="text" id="name" name="name" placeholder="Name">
      <input type = "text" id="username" name="username" placeholder="Username">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="password" id="password" name="password" placeholder="Password">
      <button id="buttonJoinFriends">Join Friends</button>
    </form>
  </div>
  <div id = "right">
  </div>
</div>
</body>
</html>