/* Main styling */
body {
    font-family: Inter, serif;
    color: #3F4E49;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/* Styles for the header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 85vw;
    max-width: 1200px; /* Optional: limit the maximum width */
    margin: 20px 0px 20px 0px; /* Bottom margin */
    height: 15vh;
    border-radius: 225px;
    background: #EBE7E6;
    box-sizing: border-box
}

/* Styles for the logo */
#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Right margin for the logo */
    width: 155px;
    height: 99px;
    flex-shrink: 0;
    padding-left: 20px;
}

#logoImg {
    margin-bottom: 5px; /* Margin below the logo image */
}

#logoText {
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

/* Styles for the menu */
#menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuItem {
    font-size: 30px;
    border-radius: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s, box-shadow 0.3s, color 0.3s, text-decoration 0.3s;
    cursor: pointer;
    color: inherit;
}


.menuItem:hover {
    background: #A9B0A3;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.35);
    color: #2C3E50;
    text-decoration: underline;
}

/* Styles for the buttons */
#buttonJoinFriends, #login, #logout {
    width: 155px;
    height: 60px;
    border-radius: 225px;
    background: #BAC0B6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}

#buttonJoinFriends:hover, #login:hover, #logout:hover {
    transform: scale(1.1);
}

#logout {
    background: rgba(184, 117, 117, 0.98);
}

/* General styles for the main container */
#main {
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to a new line when reducing size */
    width: 85vw;
    max-width: 1200px;
    margin: 20px 0; /* Top and bottom margins */
    min-height: 70vh;
    border-radius: 100px;
    background: #EBE7E6;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column; /* Vertical alignment of elements */
    justify-content: center; /* Center elements vertically */
    min-width: 170px;
    align-items: center;
    flex: 1 1 20%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10px;
}

#infoText {
    margin-bottom: 10px;
    padding: 30px 10px 0px 10px;
    font-size: 32px;
}

#map {
    flex: 1 1 70%; /* Base size 70%, flex-grow and flex-shrink are set to 1 */
    width: 85%;
    height: 85%;
    border: 1px solid #3F4E49;
    overflow: hidden;
    border-radius: 50px;
}

#markerFormModal, #feedingFormModal, #loginWarningModal {
    display: none; /* Window hidden by default */
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 1px solid #888;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

/* Background overlay when modal is open */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Styles for cancel and save buttons */
.cancelButton, #markerForm button[type="submit"] {
    margin-top: 10px;
}

/* Styles for the login form */
#loginForm {
    z-index: 1;
    background-color: #f2f2f2;
    padding: 10px 20px 20px 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
}

#loginForm h2 {
    padding-top: 0px;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 0px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
    width: 90%;
    font-size: 1.1em;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


button[type="submit"], button[type="button"]{
    padding: 10px 20px;
    background-color: #1db346;
    border-radius: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #277539;
}

#markerFormModal button[type="button"], #feedingFormModal button[type="button"],
#loginWarningModal button[type="button"] {
    background-color: #d1172a;
    margin-left: 30px;
}

#feeding_date {
    background-color: #f0f0f0; /* Цвет фона */
    border: 2px solid #4CAF50; /* Рамка */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px; /* Внутренний отступ */
    font-size: 16px; /* Размер шрифта */
    color: #333; /* Цвет текста */
}

#feeding_date:focus {
    outline: none; /* Убирает стандартную обводку при фокусе */
    border-color: #008CBA; /* Цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(0, 140, 186, 0.5); /* Тень при фокусе */
}

/* Styles for closing the form */
.close {
    background-color: #d1172a;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    top: 15px;
    right: 15px;
}

.close:hover, #markerFormModal button[type="button"]:hover,
#feedingFormModal button[type="button"]:hover,
#loginWarningModal button[type="button"]:hover{
    background-color: #98242f;
}


/*++++++++++++*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}
/*----------------*/

/* Styles for the error message */
#errorMessage {
    color: red;
    margin-top: 10px;
    display: none; /* Hidden by default */
}

#welcomeMessage {
    display: none; /* Welcome message hidden by default */
    font-size: 20px;
    margin-top: 20px;
}

/* Hide elements by default, they will be shown via JavaScript */
#loginForm, #welcomeMessage, #login, #logout, #buttonJoinFriends {
    display: none;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    #header {
        flex-direction: column;
        height: auto; /* Adjust height */
        padding: 20px; /* Additional padding */
    }

    #menu {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
    }

    #buttonJoinFriends, #login, #logout {
        /*width: 100%;*/
        margin: 10px 0;
    }

    #logo {
        margin-bottom: 20px; /* Bottom margin for the logo */
        margin-right: 0; /* Remove right margin */
        padding-left: 0; /* Remove left padding */
    }

    #logoText {
        text-align: center; /* Center alignment */
    }
}
