* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /*width: 1600px;*/
    width: 100%;
    padding: 15px 200px 15px 200px;
    flex-direction: column;
    gap: 30px;
    align-content: center;
}

#container {
    /*background-image: url("../img/backgroundReg.svg");*/
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

#header {
    display: flex;
    padding: 20px;
    flex: 0 1 auto;
    flex-direction: row;
}

#left, #right {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#logo {
    width: 155px;
    height: 99px;
    flex-shrink: 0;
    padding-left: 40px;
}

#logoText {
    width: 155px;
    height: 84.375px;
    flex-shrink: 0;
    color: #3F4E49;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#logoImg {
    width: 56px;
    height: 46px;
    flex-shrink: 0;
}

#join {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter, serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px; /* 42.857% */
    text-transform: capitalize;
    margin-bottom: 10px;
}

#text {
    color: #EE86C3;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
    text-transform: capitalize;
}

#buttonJoinFriends {
    width: 155px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 225px;
    background: #BAC0B6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #3F4E49;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input{
    height: 30px;
    width: 40vw;
}

.custom-success-popup {
    background-color: #d4edda; /* Светло-зеленый фон */
    color: #155724;            /* Темно-зеленый текст */
    border: 1px solid #c3e6cb; /* Зеленая рамка */
}

.custom-confirm-button {
    background-color: #28a745; /* Зеленый цвет кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.custom-confirm-button:hover {
    background-color: #218838; /* Темно-зеленый цвет при наведении */
}

.custom-error-popup {
    background-color: #f8d7da; /* Светло-красный фон */
    color: #721c24;            /* Темно-красный текст */
    border: 1px solid #f5c6cb; /* Красная рамка */
}

.custom-error-button {
    background-color: #dc3545; /* Красный цвет кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.custom-error-button:hover {
    background-color: #c82333; /* Темно-красный цвет при наведении */
}

.custom-confirm-button {
    background-color: #28a745; /* Зеленый цвет кнопки */
    color: gainsboro;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.custom-confirm-button:hover {
    background-color: #218838;
}

.custom-error-button {
    background-color: #dc3545; /* Красный цвет кнопки */
    color: gainsboro;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.custom-error-button:hover {
    background-color: #c82333;
}
