* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #3F4E49;
    font-family: Inter, serif;
}

#hello {
    font-size: 1.2em;
}

#container {
    background-image: url("../img/backgroundReg.jpg");
    padding: 15px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 800px;
    display: flex;
    flex-direction: column; /* Vertical alignment of elements */
    border-radius: 150px;
}

#header {
    text-align: center;
    /*background-color: lightblue;*/
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between; /* Align left and right on the sides */
    flex-grow: 1;
    margin-top: 10px;
}

#left {
    /*background-color: lightgreen;*/
    width: 48%; /* Set width for left */
    /*padding: 10px;*/
}

#right {
    /*background-color: lightcoral;*/
    width: 48%; /* Set width for right */
    padding: 10px;
}

/*/////////////////////////////*/

#header {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: flex-start; /* Align elements from left to right */
    padding: 10px;
    /*background-color: lightblue; !* For example *!*/
}

#logo {
    display: flex;
    flex-direction: column; /* Arrange elements inside vertically */
    align-items: center; /* Center horizontally */
    /*width: 155px;*/
    /*flex-shrink: 0;*/
    /*padding-left: 40px;*/
    width: 155px;
    /*height: 99px;*/
    flex-shrink: 0;
    padding-left: 40px;
}

#logoImg {
    width: 56px;
    height: 46px;
    flex-shrink: 0;
}

#logoText {
    margin-top: 5px; /* Space between logo image and text */
    width: 155px;
    height: 84.375px;
    flex-shrink: 0;
    color: #3F4E49;
    font-family: Inter, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#textHeader {
    margin-left: 20px; /* Space between the logo and text */
    display: flex;
    flex-direction: column; /* Stack title and text vertically */
}

#join {
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter, serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px; /* 42.857% */
    text-transform: capitalize;
    margin-bottom: 10px;
}

#text {
    color: #EE86C3;
    leading-trim: both;
    text-edge: cap;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
    text-transform: capitalize;
}

#buttonJoinFriends {
    width: 155px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 225px;
    background: #BAC0B6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #3F4E49;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#register {
    display: flex;
    flex-direction: column;
    align-items: start;
    /*margin-top: 20px;*/

}


.input{
    height: 40px;
    font-family: Inter, serif;
    font-size: 20px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 5px;
    border-radius: 15px;
    padding-left: 5px;
}

@media (max-width: 768px) {
    .input {
        width: 100%; /* Расширяем на всю ширину */
        max-width: none; /* Убираем максимальную ширину */
    }
    #container {
        padding: 5px 20px; /* Уменьшенные отступы */
        width: 100%;
    }
}


.custom-success-popup {
    background-color: #d4edda; /* Light green background */
    color: #155724;            /* Dark green text */
    border: 1px solid #c3e6cb; /* Green border */
}

.custom-confirm-button {
    background-color: #28a745; /* Green button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.custom-confirm-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.custom-error-popup {
    background-color: #f8d7da; /* Light red background */
    color: #721c24;            /* Dark red text */
    border: 1px solid #f5c6cb; /* Red border */
    border-radius: 50px;
}

.custom-error-button {
    background-color: #d1172a; /* Red button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.custom-error-button:hover {
    background-color: #98242f; /* Darker red on hover */
}

.custom-confirm-button {
    background-color: #1db346; /* Green button color */
    color: gainsboro;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.custom-confirm-button:hover {
    background-color: #277539;
}

.custom-error-button {
    background-color: #d1172a; /* Red button color */
    color: gainsboro;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.custom-error-button:hover {
    background-color: #98242f;
}
